.button{

    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: #e1034d;
        color: white;

        &:hover {
            background-color: #c8013f;
        }
    }

    &.secondary-button {
        background-color: transparent;
        color: #c9d1d9;
        border: 1px solid #30363d;

        &:hover {
            background-color: #21262d;
        }
    }

    &:active{
        transform: scale(0.9);
    }
}